* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: rgb(184, 137, 137);
}

.header {
  width: 100%;
  background-color: #4e6498;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(184, 137, 137);
}

.header--intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  border-radius: 50%;
  margin: 10px;    
}

.nav--header {
  font-size: 1.8rem;
  margin: 0 20px;
  
}
.nav--header a{
  list-style: none;
  color:rgb(184, 137, 137);
  text-decoration: none;
  cursor: pointer;
}

.additions{
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.additions--ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  list-style: none;

}

.additions--li {
  text-align: center;
  margin: 10px;

}

.additions--li a {
  list-style: none;
  color:rgb(184, 137, 137);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.additions--li a:hover {
  background-color: #a8a0a0;
  border-radius: 20px;
  padding: 4px;
}
.search-bar, .signupBtn {
  height: 30px;
  width: 120px;
  border-radius: 20px;
}

.form-control {
  width: 60%;
  height: 50px;
  margin: 20px auto;
  background: transparent;
  border-radius: 20px;
}
.search-bar {
  color: #fff;
  background: transparent;
  width: 90%;
  margin: auto;
  outline: none;
  border: none;
}

.search-bar::placeholder {
  color: #fff;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 450px;
  margin: 20px auto;
  background: transparent;
  border-radius: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.contact-form ::placeholder {
  text-indent: 10px;
}

.contact-form input {
  width: 90%;
  border-radius: 10px;
  text-indent: 10px;
  padding: 10px;
  border: none;
  justify-content: center;
}

.contact-form input:hover {
  outline: none;
  border: 2px solid rgb(76, 76, 176);
}

.contact-form input:focus {
  outline: none;
  border: none;
}

.contact-form label {
  text-indent: 2px;
}

textarea {
  width: 90%;
  border-radius: 10px;
  height: 100px;
  padding: 10px;
  text-align: justify;
}

textarea input {
  text-indent: 10px;
}
textarea:focus {
  border: none;
  outline: none;
}

.contact-form button {
  margin: 12px auto;

}

.signupBtn {
  width: 120px;
  color: rgb(184, 137, 137);
  background: white;
  outline: none;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.signupBtn:hover{
  border: 2px dotted transparent;
  outline: none;
}

.signupBtn a:hover {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.signupBtn a {
  color: rgb(184, 137, 137);
  background: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
/** home page*/

.container {
  max-width: 100vw;
  height: 100vh;
  margin: 10px auto;
  border-radius: 20px;

}

.slide-container {
  border-radius: 20px;
  height: 100%;
}

.imgBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -140px;
  padding: 0;
}

.startBtn {
  max-width: 120px;
  outline: none;
  padding: .3rem;
  border-radius: 20px;
  border: 2px solid white;
  background: white;
  margin: 10px;

}

.startBtn:focus {
  outline: none;
  border: none;
}

.startBtn a {
  color: rgb(184, 137, 137);
  cursor: pointer;
  text-decoration: none;
}
/** herb card */

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.herb {
  max-width: 16rem;
  color: white;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 20px;
  border: 2px solid #4e6498;
  line-height: 1rem;
}

.herb--card {
  margin: 0;
  padding: 0;
  width: 100%;
}

.herb--img{
  height: 10.5rem;
  width: 100%;
  min-width: 14rem;
  border-radius: 20px;
  border: solid pink;
  cursor: pointer;
}


.herb--name {
  text-align: center;
}

.herb--description {
  max-width: 100%;
  text-align: justify;
}

/*sign in*/
.googleBtn {
  margin: auto;
  outline: none;
}

/**footer */

 .hr {
  width: 80%;
  margin: auto;
  height: .2px;
  border: .5px solid #888888;
  position: relative;
  top: .5em;
 }
.footer--pin {  
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%;
  border-radius: 20px;
  margin: 10px 0;
}
.footer--pin p {
  margin:  20px 0;
  text-decoration: none;
}
.footer--pin a  {
  color: black;
}
.footer--pin a:hover {
  text-decoration: none;
  color: 4e6498;
}

.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  margin: 20px 10px;
  gap: 1rem;
}

.social-icon {
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-icon:hover {
  box-shadow: inset 1em 2em #676262;
  border-radius: 51%;
}

.social-icon a {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
}


.toggleBtn, .close-btn {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  background: transparent;
  padding: 4px;
}

.homeBtn {
  visibility: hidden;
}

/** small screen */
@media only screen and (max-width: 768px) and (min-width: 300px){

  .App {
    overflow: visible;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .header--intro {
    display: flex;
    flex-direction: row;
  }

  .logo {
    margin: 10px 2px;
  }

  .header .additions {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transform: translateY(100vh);
    transition: 1s ease-out;
    background-color: #4e6498;
  }

  .additions--ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .header .responsive_nav {
    transform: none;
    transition: 1s ease;
  }

  .nav--header {
    width: 250px;
    text-align: center;
    margin-top: -.2rem;
    margin-left: -.5rem;
  }

  .toggleBtn, .close-btn {
    visibility: visible;
    opacity: 1;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 2.4rem;
    right: .7rem;
    color: white;
  }

  .contact-form {
    max-width: 350px;
  }

  .footer--pin {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: red;
  }

  .social-icon a {
    display: flex;
    align-items: center;
    padding: 2px;
  }

  .startBtn {
    margin-top: 25px;
  }
  .homeBtn {
    visibility: visible;
  }

}