* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: rgb(184, 137, 137);
}

.header {
  width: 100%;
  background-color: #4e6498;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(184, 137, 137);
}

.header--intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  border-radius: 50%;
  margin: 10px;    
}
.nav--header {
  font-size: 1.8rem;
  margin: 0 20px;
  
}
.nav--header a{
  list-style: none;
  color:rgb(184, 137, 137);
  text-decoration: none;
  cursor: pointer;
}

.additions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.additions--ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  list-style: none;

}

.additions--li {
  text-align: center;
  margin: 10px;

}

.additions--li a {
  list-style: none;
  color:rgb(184, 137, 137);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
.additions--li a:hover {
  background-color: #a8a0a0;
  border-radius: 20px;
  padding: 4px;
}
.search-bar, .signupBtn {
  height: 30px;
  width: 120px;
  border-radius: 20px;
}

.form-control {
  width: 50%;
  height: 50px;
  margin: 20px auto;
  background: transparent;
  border-radius: 20px;
}
.search-bar {
  color: #fff;
  background: transparent;
  width: 90%;
  margin: auto;
  outline: none;
  border: 2px solid rgb(184, 137, 137);
}

.search-bar::placeholder {
  color: #fff;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 50%;
  margin: 20px auto;
  background: transparent;
  border-radius: 20px;
  border: 1px solid grey;
  padding: 20px;
}

.contact-form ::placeholder {
  text-indent: 10px;
}

.contact-form input {
  border-radius: 10px;
  text-indent: 10px;
  padding: 10px;
  border: none;
}

.contact-form input:hover {
  outline: none;
  border: 2px solid rgb(76, 76, 176);
}

.contact-form input:focus {
  outline: none;
  border: none;
}

.contact-form label {
  text-indent: 2px;
}

textarea {
  border-radius: 10px;
  height: 100px;
  padding: 10px;
  text-align: justify;
}

textarea input {
  text-indent: 10px;
}
textarea:focus {
  border: none;
  outline: none;
}

.contact-form button {
  margin: 12px auto;

}

.signupBtn {
  width: 120px;
  color: rgb(184, 137, 137);
  background: white;
  outline: none;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.signupBtn:hover{
  border: 2px dotted transparent;
  outline: none;
}

.signupBtn a:hover {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.signupBtn a {
  color: rgb(184, 137, 137);
  background: white;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
/** home page*/

.container {
  width: 100vw;
  height: 100vh;
  margin: 10px auto;
  border-radius: 20px;

}

.slide-container {
  border-radius: 20px;
  height: 100%;
}


/** herb card */

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.herb {
  max-width: 16rem;
  color: white;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 20px;
  border: 2px solid #4e6498;
  line-height: 1rem;
}

.herb--card {
  margin: 0;
  padding: 0;
  width: 100%;
}

.herb--img{
  height: 10.5rem;
  width: 100%;
  min-width: 14rem;
  border-radius: 20px;
  border: solid pink;
  cursor: pointer;
}


.herb--name {
  text-align: center;
}

.herb--description {
  max-width: 100%;
  text-align: justify;
}

