* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgb(184, 137, 137);
}

.header {
  background-color: #4e6498;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: rgb(184, 137, 137);
}

.logo {
  width: 80px;
  border-radius: 50%;
  margin: 10px;    
}
.nav--header {
  font-size: 25px;
  margin: 0 20px;
  cursor: pointer;
}

.additions{
  align-items: flex-end;
}

.search-bar, .signupBtn {
  height: 30px;
  border-radius: 20px;
}

.search-bar {
  outline: none;
  border: 1px solid black;
  text-indent: 10px;
}

.search-bar::placeholder {
  color: rgb(184, 137, 137);
 
}

.signupBtn {
  width: 100px;
  color: rgb(184, 137, 137);
  background: white;
  outline: none;
  border: 1px solid black;
  margin: 10px;
  cursor: pointer;
}

/** herb card */

.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
.herb {
  max-width: 18rem;
  color: white;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 20px;
  border: 2px solid #4e6498;
}

.herb--card {
  margin: 0;
  padding: 0;
  width: 100%;
}

.herb--img{
  height: 10.5rem;
  width: 100%;
  min-width: 15rem;
  border-radius: 20px;
  border: solid pink;
}

.herb--name {
  
  text-align: center;
}

.herb--description {
  max-width: 100%;
  text-align: justify;
}

